@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-bg: #FFFFFF;
  --border-divider-line: #FF758D;
  --base-text-rgb: #4B5258;
  --bg-main-blue: #EEEEEE;

  --primary-fill: #021124;
  --icon-gray-fill: #667085;

  --pink-accent-border: #FF758D;

}

.dark {
  --navbar-bg: #042858;
  --border-divider-line: #FFFFFF;
  --base-text-rgb: #FFFFFF;
  --bg-main-blue: #021124;

  --primary-fill: #FFFFFF;
  --icon-gray-fill: #FFFFFF;

  --pink-accent-border: #FFFFFF;
}

@layer utilities {
  .navbar-bg {
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 98%, var(--pink-accent-border) 98%, var(--pink-accent-border) 100%);
  }
}

body {
  overflow: hidden;
}
